html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
  }

  


:root{
    font-family: "Inconsolata", serif;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 110px 90px 1fr 120px;
    background-color: #C5DFF8;
    color: #4A55A2;
}
header{
    background-color: #4A55A2;
    color: #C5DFF8;
    font-size: 4.5rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.status{
    display: grid;
    place-items: center;
    font-size: 2rem;
}
.boardContainer{
    display: grid;
    justify-content: center;
}
.gameBoard{
    background-color: #7895CB;
    border: 3px solid #7895CB;
    height: 350px;
    width: 350px;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.gameBoard>button{
    text-transform: uppercase;
    font-size: 4rem;
    color: #4A55A2;
    background-color: #A0BFE0;
    font-family: "Inconsolata", serif;
}
.gameBoard>button:hover{
    background-color: #a0bfe071;
}